extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title A letter -手紙- - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('おや？ うちに請求書以外の手紙が来るなんて珍しいな。どれどれ...ふむ、名前が書いていないな、送り元はエジプトからか...エジプトに知り合いなんてないぞ僕は。殴られるかもしれないが、ハニーの元彼がエジプト人か聞いてみよう。', ["Last Month","神秘的"])

block track
  .trackdetail#track_id(data-track="Aletter")
    +tracktitle("A letter -手紙-", "1:54")

    p.taglist
      +taglist(["Last Month","神秘的"])

    include /generate/download/player.jade

    p
      | おや？ うちに請求書以外の手紙が来るなんて珍しいな。どれどれ...ふむ、名前が書いていないな、送り元はエジプトからか...エジプトに知り合いなんてないぞ僕は。殴られるかもしれないが、ハニーの元彼がエジプト人か聞いてみよう。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Aletter", "A letter -手紙-")
