extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title Blaze Up！ - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('ギター音源「V-METAL」を入手して最初に作った曲です。ボス戦をイメージしました。シンプルなループで汎用性は高いと思います。攻撃SEなどを考えて、メロディなどをシンプルにしています。', ["RPG","バトル","疾走感"])

block track
  .trackdetail#track_id(data-track="BlazeUp")
    +tracktitle("Blaze Up！", "2:24")

    p.taglist
      +taglist(["RPG","バトル","疾走感"])

    include /generate/download/player.jade

    p
      | ギター音源「V-METAL」を入手して最初に作った曲です。ボス戦をイメージしました。シンプルなループで汎用性は高いと思います。攻撃SEなどを考えて、メロディなどをシンプルにしています。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("BlazeUp", "Blaze Up！")
