extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 冒険者のギルド - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('命知らずな冒険者、賞金稼ぎたちのホームベース。クエストを受けたり、酒場でちょっと騒いだりと大忙し。ノスタルジックで哀愁漂うメロディに、アコギで泥臭さを、ヴァイオリンで気品を演出してみました。ファンタジー音楽にアコーディオンは鉄板ですね♪', ["RPG","穏やか","明るい"])

block track
  .trackdetail#track_id(data-track="Boukenshanogirudo")
    +tracktitle("冒険者のギルド", "3:51")

    p.taglist
      +taglist(["RPG","穏やか","明るい"])

    include /generate/download/player.jade

    p
      | 命知らずな冒険者、賞金稼ぎたちのホームベース。クエストを受けたり、酒場でちょっと騒いだりと大忙し。ノスタルジックで哀愁漂うメロディに、アコギで泥臭さを、ヴァイオリンで気品を演出してみました。ファンタジー音楽にアコーディオンは鉄板ですね♪

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Boukenshanogirudo", "冒険者のギルド")
