extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title Cofin -棺- - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('どこの誰かも知らないキミを、今僕はこの手で葬っている。それがキミの願いなのはもちろん分かっているよ。ただ不思議なんだ、今自分がここにいることがね。...ふぅ、あともう少しだ。', ["Last Month","神秘的"])

block track
  .trackdetail#track_id(data-track="Cofin")
    +tracktitle("Cofin -棺-", "1:54")

    p.taglist
      +taglist(["Last Month","神秘的"])

    include /generate/download/player.jade

    p
      | どこの誰かも知らないキミを、今僕はこの手で葬っている。それがキミの願いなのはもちろん分かっているよ。ただ不思議なんだ、今自分がここにいることがね。...ふぅ、あともう少しだ。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Cofin", "Cofin -棺-")
