extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title Colorless -無色- - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('今、わたしの瞳に映っている景色は色が無いの。わたし自身の心がそうさせているのかしら。色が無い景色を見て、自分がいつも何を思って瞬きするのかを考えさせられるのよ。', ["Last Month","暗い"])

block track
  .trackdetail#track_id(data-track="Colorless")
    +tracktitle("Colorless -無色-", "1:54")

    p.taglist
      +taglist(["Last Month","暗い"])

    include /generate/download/player.jade

    p
      | 今、わたしの瞳に映っている景色は色が無いの。わたし自身の心がそうさせているのかしら。色が無い景色を見て、自分がいつも何を思って瞬きするのかを考えさせられるのよ。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Colorless", "Colorless -無色-")
