extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title Crater - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('音が無い場所の音を表現したい時ってありますよね？ え、ありませんか？ そ、そうですか...。', ["エレクトロン","緊張感"])

block track
  .trackdetail#track_id(data-track="Crater")
    +tracktitle("Crater", "1:50")

    p.taglist
      +taglist(["エレクトロン","緊張感"])

    include /generate/download/player.jade

    p
      | 音が無い場所の音を表現したい時ってありますよね？ え、ありませんか？ そ、そうですか...。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Crater", "Crater")
