extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title Everyone's Favorite - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('', ["真冬のアンビエント","神秘的"])

block track
  .trackdetail#track_id(data-track="EveryonesFavorite")
    +tracktitle("Everyone's Favorite", "3:12")

    p.taglist
      +taglist(["真冬のアンビエント","神秘的"])

    include /generate/download/player.jade

    p
      | 

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("EveryonesFavorite", "Everyone's Favorite")
