extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 樹海 - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('樹海の神秘に迫る。見たことのない珍しい草木、水、生物たち。神秘的な空間を意識して仕上げてみましたので、迷いの森や聖なる場所にも合うかも？個人的には曲に「匂い」を感じてもらえたら嬉しいです。', ["RPG","ピアノ","神秘的"])

block track
  .trackdetail#track_id(data-track="Jukai")
    +tracktitle("樹海", "3:27")

    p.taglist
      +taglist(["RPG","ピアノ","神秘的"])

    include /generate/download/player.jade

    p
      | 樹海の神秘に迫る。見たことのない珍しい草木、水、生物たち。神秘的な空間を意識して仕上げてみましたので、迷いの森や聖なる場所にも合うかも？個人的には曲に「匂い」を感じてもらえたら嬉しいです。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Jukai", "樹海")
