extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title Jupiter - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('木星へ到着した。着陸態勢に入りたいが、未確認飛行物体が次々に当機へ飛来!!やむをえん、攻撃モードに入る!!', ["エレクトロン","サイバー","疾走感"])

block track
  .trackdetail#track_id(data-track="Jupiter")
    +tracktitle("Jupiter", "2:40")

    p.taglist
      +taglist(["エレクトロン","サイバー","疾走感"])

    include /generate/download/player.jade

    p
      | 木星へ到着した。着陸態勢に入りたいが、未確認飛行物体が次々に当機へ飛来!!やむをえん、攻撃モードに入る!!

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Jupiter", "Jupiter")
