extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title カゲロウ - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('イヤな雰囲気だな。オレの聴覚がおかしいのか、耳鳴りのような不気味な音が聞こえる。この館にやって来てから全てが普通じゃない。自分の精神が徐々に蝕まれているのがわかる。まぁ恐ろしいことに、それに慣れてきている自分もいるのだが...。', ["時の館","暗い","緊張感"])

block track
  .trackdetail#track_id(data-track="Kagerou")
    +tracktitle("カゲロウ", "1:56")

    p.taglist
      +taglist(["時の館","暗い","緊張感"])

    include /generate/download/player.jade

    p
      | イヤな雰囲気だな。オレの聴覚がおかしいのか、耳鳴りのような不気味な音が聞こえる。この館にやって来てから全てが普通じゃない。自分の精神が徐々に蝕まれているのがわかる。まぁ恐ろしいことに、それに慣れてきている自分もいるのだが...。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Kagerou", "カゲロウ")
