extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 結集 - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('最終決戦、最後の戦いを前に壮大な前触れを示すイントロが印象的な曲です。終盤の展開、イベント、マップなどにいかがですか？', ["RPG","壮大","緊張感"])

block track
  .trackdetail#track_id(data-track="Kesshuu")
    +tracktitle("結集", "3:58")

    p.taglist
      +taglist(["RPG","壮大","緊張感"])

    include /generate/download/player.jade

    p
      | 最終決戦、最後の戦いを前に壮大な前触れを示すイントロが印象的な曲です。終盤の展開、イベント、マップなどにいかがですか？

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Kesshuu", "結集")
