extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 虚空 - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('退廃的な廃墟にたたずむ者達。それは人なのか、それとも・・・', ["RPG","緊張感",""])

block track
  .trackdetail#track_id(data-track="kokuu")
    +tracktitle("虚空", "3:23")

    p.taglist
      +taglist(["RPG","緊張感",""])

    include /generate/download/player.jade

    p
      | 退廃的な廃墟にたたずむ者達。それは人なのか、それとも・・・

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("kokuu", "虚空")
