extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 交渉はお任せください!! - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('「ちょっとアンタ、クライアントが来てんのに寝てんじゃないわよ」「あぁすまんすまん、悪ぃが話だけ聞いといてもらえるか」「アンタね、アタシがいなかったらどう話を進めんのよ」「ん、そのための秘書だろ。給与は歩合制だからな」「あ、はいは〜い、こちらです〜交渉はお任せくださ〜い」「・・・現金なヤツだな(汗)」', ["探偵","明るい"])

block track
  .trackdetail#track_id(data-track="Koushouhaomakasekudasai")
    +tracktitle("交渉はお任せください!!", "4:17")

    p.taglist
      +taglist(["探偵","明るい"])

    include /generate/download/player.jade

    p
      | 「ちょっとアンタ、クライアントが来てんのに寝てんじゃないわよ」「あぁすまんすまん、悪ぃが話だけ聞いといてもらえるか」「アンタね、アタシがいなかったらどう話を進めんのよ」「ん、そのための秘書だろ。給与は歩合制だからな」「あ、はいは〜い、こちらです〜交渉はお任せくださ〜い」「・・・現金なヤツだな(汗)」

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Koushouhaomakasekudasai", "交渉はお任せください!!")
