extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title Mars - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('物資を調達しにやってきたが、久々に来たらえらく賑やかに発展しているな。銀河系の惑星の中でも、ここはもっと人々が行き交う中心街になるだろうな。さて、そろそろ着陸出来るか...久々にうまい酒でも飲もう。', ["エレクトロン","サイバー","穏やか","明るい"])

block track
  .trackdetail#track_id(data-track="Mars")
    +tracktitle("Mars", "3:51")

    p.taglist
      +taglist(["エレクトロン","サイバー","穏やか","明るい"])

    include /generate/download/player.jade

    p
      | 物資を調達しにやってきたが、久々に来たらえらく賑やかに発展しているな。銀河系の惑星の中でも、ここはもっと人々が行き交う中心街になるだろうな。さて、そろそろ着陸出来るか...久々にうまい酒でも飲もう。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Mars", "Mars")
