extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title Memory of the Forest - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('', ["大自然シリーズ","神秘的"])

block track
  .trackdetail#track_id(data-track="MemoryoftheForest")
    +tracktitle("Memory of the Forest", "4:28")

    p.taglist
      +taglist(["大自然シリーズ","神秘的"])

    include /generate/download/player.jade

    p
      | 

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("MemoryoftheForest", "Memory of the Forest")
