extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 村人 - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('まさに村人たちと話している時に流れていそうな曲です。具体的にはタイムリープして「おめぇさん、見たことねぇカッコしてんな。どっから来ただか」とか言われている場面です。', ["和風短編曲集","明るい","穏やか"])

block track
  .trackdetail#track_id(data-track="Murabito")
    +tracktitle("村人", "1:16")

    p.taglist
      +taglist(["和風短編曲集","明るい","穏やか"])

    include /generate/download/player.jade

    p
      | まさに村人たちと話している時に流れていそうな曲です。具体的にはタイムリープして「おめぇさん、見たことねぇカッコしてんな。どっから来ただか」とか言われている場面です。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Murabito", "村人")
