extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title Passage -通路- - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('ただ普通に歩くというだけの行為なワケでしょう？なのにどういうことなのかしら、わたしの心臓バクバクよ？だってスリルと恐怖とドキドキが同時に襲ってくるんですもの。', ["Last Month","暗い"])

block track
  .trackdetail#track_id(data-track="Passage")
    +tracktitle("Passage -通路-", "1:54")

    p.taglist
      +taglist(["Last Month","暗い"])

    include /generate/download/player.jade

    p
      | ただ普通に歩くというだけの行為なワケでしょう？なのにどういうことなのかしら、わたしの心臓バクバクよ？だってスリルと恐怖とドキドキが同時に襲ってくるんですもの。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Passage", "Passage -通路-")
