extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title プランクトン - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('...??', ["アクア カクテル","神秘的"])

block track
  .trackdetail#track_id(data-track="Plankton")
    +tracktitle("プランクトン", "5:37")

    p.taglist
      +taglist(["アクア カクテル","神秘的"])

    include /generate/download/player.jade

    p
      | ...??

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Plankton", "プランクトン")
