extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 落日 - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('日が落ちて不気味な様を表現してみました。アレンジの方向性としては「鳥居」と似ているので合わせて使用して頂けると関連性が出ると思います。', ["和風短編曲集","緊張感","暗い"])

block track
  .trackdetail#track_id(data-track="Rakujitsu")
    +tracktitle("落日", "1:50")

    p.taglist
      +taglist(["和風短編曲集","緊張感","暗い"])

    include /generate/download/player.jade

    p
      | 日が落ちて不気味な様を表現してみました。アレンジの方向性としては「鳥居」と似ているので合わせて使用して頂けると関連性が出ると思います。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Rakujitsu", "落日")
