extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title シーパラダイス - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('海の生物たちによるお祭り。何もないところにみんなが集まってきて、次第にわちゃわちゃした楽しい雰囲気に。ファンキーなベースラインが気に入っています。', ["アクア カクテル","神秘的","明るい","疾走感"])

block track
  .trackdetail#track_id(data-track="SeaParadaisu")
    +tracktitle("シーパラダイス", "3:53")

    p.taglist
      +taglist(["アクア カクテル","神秘的","明るい","疾走感"])

    include /generate/download/player.jade

    p
      | 海の生物たちによるお祭り。何もないところにみんなが集まってきて、次第にわちゃわちゃした楽しい雰囲気に。ファンキーなベースラインが気に入っています。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("SeaParadaisu", "シーパラダイス")
