extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 神話 - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('オーソドックスなスタイルの弾き語りです。物語の導入や伝承などを演出する際にいかがでしょう？旋律が中世よりも少しアジアっぽいかもしれませんが、どちらもいけると思います(多分)', ["RPG","オープニング","神秘的"])

block track
  .trackdetail#track_id(data-track="Shinwa")
    +tracktitle("神話", "3:06")

    p.taglist
      +taglist(["RPG","オープニング","神秘的"])

    include /generate/download/player.jade

    p
      | オーソドックスなスタイルの弾き語りです。物語の導入や伝承などを演出する際にいかがでしょう？旋律が中世よりも少しアジアっぽいかもしれませんが、どちらもいけると思います(多分)

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Shinwa", "神話")
