extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 調べ ~哀~ - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('哀しみや、辛さを乗り越えて欲しい、そんな場面をイメージして書きました。キャラクターたちの心の情景を描く時、文章と風景だけでそのような雰囲気を作りたい時にいかがでしょうか？', ["和風短編曲集","緊張感","暗い","悲しい"])

block track
  .trackdetail#track_id(data-track="ShirabeAi")
    +tracktitle("調べ ~哀~", "1:57")

    p.taglist
      +taglist(["和風短編曲集","緊張感","暗い","悲しい"])

    include /generate/download/player.jade

    p
      | 哀しみや、辛さを乗り越えて欲しい、そんな場面をイメージして書きました。キャラクターたちの心の情景を描く時、文章と風景だけでそのような雰囲気を作りたい時にいかがでしょうか？

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("ShirabeAi", "調べ ~哀~")
