extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 戦いの舞い - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('音の園バトル第一弾ということで、持てる力と知恵と勇気を振り絞りました。(トライフォース！)ヴァイオリンとバンドサウンドの躍動感あるメロディラインを意識し、王道な感じで仕上げています。メロディがブラス版のアレンジも良さそうなので、いつかそのバージョンも作りたいな〜と思っています。是非バンドで演奏したいものです。私の執筆しているブログでこの曲の制作過程を載せいています。興味がある方はどうぞhttp://andy-hiroyuki.hatenablog.com/entry/2016/02/27/202033', ["RPG","バトル"])

block track
  .trackdetail#track_id(data-track="TatakaiNoMai")
    +tracktitle("戦いの舞い", "3:38")

    p.taglist
      +taglist(["RPG","バトル"])

    include /generate/download/player.jade

    p
      | 音の園バトル第一弾ということで、持てる力と知恵と勇気を振り絞りました。(トライフォース！)ヴァイオリンとバンドサウンドの躍動感あるメロディラインを意識し、王道な感じで仕上げています。メロディがブラス版のアレンジも良さそうなので、いつかそのバージョンも作りたいな〜と思っています。是非バンドで演奏したいものです。私の執筆しているブログでこの曲の制作過程を載せいています。興味がある方はどうぞhttp://andy-hiroyuki.hatenablog.com/entry/2016/02/27/202033

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("TatakaiNoMai", "戦いの舞い")
