extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 時を語る者 - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('館に起こった悲しき惨事を語る者。まるで館そのもののような印象を受ける、本人は代理人と言っているが...。だが足元をよく見るとこの人物に「影」が無いことに気づく。一体何者なんだこの老人は。', ["時の館","ピアノ","緊張感"])

block track
  .trackdetail#track_id(data-track="Tokiwokatarumono")
    +tracktitle("時を語る者", "2:01")

    p.taglist
      +taglist(["時の館","ピアノ","緊張感"])

    include /generate/download/player.jade

    p
      | 館に起こった悲しき惨事を語る者。まるで館そのもののような印象を受ける、本人は代理人と言っているが...。だが足元をよく見るとこの人物に「影」が無いことに気づく。一体何者なんだこの老人は。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Tokiwokatarumono", "時を語る者")
