extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 永遠の記憶 - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('いくつもの記憶を辿った先に、それぞれの悲しみがあった。全て覚えている。この旋律も。でもちょっとだけやさしい気がする。死者たちが成仏してくれたからなのか。オレもこの旋律の中でいつか眠る時が来るのだろうか。', ["時の館","暗い","オルゴール"])

block track
  .trackdetail#track_id(data-track="Towanokioku")
    +tracktitle("永遠の記憶", "1:40")

    p.taglist
      +taglist(["時の館","暗い","オルゴール"])

    include /generate/download/player.jade

    p
      | いくつもの記憶を辿った先に、それぞれの悲しみがあった。全て覚えている。この旋律も。でもちょっとだけやさしい気がする。死者たちが成仏してくれたからなのか。オレもこの旋律の中でいつか眠る時が来るのだろうか。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Towanokioku", "永遠の記憶")
