extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 愁歌 - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('「ある天才アーティストをイメージした楽曲を作って欲しい」という作曲のご依頼のもと書いたこの曲、「愁歌」(うれいうた)と依頼者様より命名していただきました。曲名から「わかれうた」など想像も出来ますが、そんな人生を謳歌し前向きに乗り越えていく、という想いもあります。BGMというよりかは、歌曲のような感じで私自身もとてもお気に入りの楽曲です。有償でご依頼いただきましたが、ご厚意によりフリー素材として配布してはどうかという提案をいただき、公開に至りました。', ["和風短編曲集","壮大","悲しい","神秘的"])

block track
  .trackdetail#track_id(data-track="Ureiuta")
    +tracktitle("愁歌", "3:49")

    p.taglist
      +taglist(["和風短編曲集","壮大","悲しい","神秘的"])

    include /generate/download/player.jade

    p
      | 「ある天才アーティストをイメージした楽曲を作って欲しい」という作曲のご依頼のもと書いたこの曲、「愁歌」(うれいうた)と依頼者様より命名していただきました。曲名から「わかれうた」など想像も出来ますが、そんな人生を謳歌し前向きに乗り越えていく、という想いもあります。BGMというよりかは、歌曲のような感じで私自身もとてもお気に入りの楽曲です。有償でご依頼いただきましたが、ご厚意によりフリー素材として配布してはどうかという提案をいただき、公開に至りました。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Ureiuta", "愁歌")
