extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title Voice of Angels - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('', ["大自然シリーズ","神秘的"])

block track
  .trackdetail#track_id(data-track="VoiceofAngels")
    +tracktitle("Voice of Angels", "3:14")

    p.taglist
      +taglist(["大自然シリーズ","神秘的"])

    include /generate/download/player.jade

    p
      | 

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("VoiceofAngels", "Voice of Angels")
