extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title よろず屋 - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('いつの時代でも買い物は楽しいですね。ただいつの時代でもやっぱり「お金」は必要です。というわけで、今度は「質屋」という曲も作ってみたいと思います。', ["和風短編曲集","明るい","穏やか"])

block track
  .trackdetail#track_id(data-track="Yorozuya")
    +tracktitle("よろず屋", "1:10")

    p.taglist
      +taglist(["和風短編曲集","明るい","穏やか"])

    include /generate/download/player.jade

    p
      | いつの時代でも買い物は楽しいですね。ただいつの時代でもやっぱり「お金」は必要です。というわけで、今度は「質屋」という曲も作ってみたいと思います。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Yorozuya", "よろず屋")
